.circle {
  stroke-width: 3;
  stroke: #191919;
  fill-opacity: .2;
  cursor: pointer;
}

.circle:hover {
  fill-opacity: .4;
}

.textCircle, #headerCircle {
  fill: blue;
}

.imageCircle {
  fill: #191919;
  fill-opacity: 1;
}


.circleText {
  font-size: 18px;
  pointer-events: none;
}

.barLabel {
  font-size: 12px;
}

.bar {
  fill: white;
  stroke: #191919;
  stroke-width: 1px;
}

.xaxis {
  stroke: #191919;
  stroke-width: 3px;
}

.categoryContainer {
  stroke: #191919;
  stroke-width: 2px;
  fill-opacity: .1;
  cursor: pointer
}

.categoryText {
  pointer-events: none;
}

.selectedCategory {
  fill: blue;
}

.labCircle {
  fill-opacity: 0;
  cursor: pointer;
}

.leaf {
  stroke: #191919;
  stroke-width: 3px;
}

.labTitle {
  font-size: 12px;
  pointer-events: none;
}

.resumeContainer {
  stroke: #191919;
  stroke-width: 2px;
}

#homeBtn {
  fill: blue;
  fill-opacity: .2;
  stroke: #191919;
  stroke-width: 2px;
  cursor: pointer;
}

#homeBtn:hover {
  fill-opacity: .4;
}

#homeText {
  pointer-events: none;
}

#headerText {
  font-size: 34px;
}

#about {
  position: absolute;
  width: 360px;
  height: 400px;
  text-align: center;
}

.aboutCircle {
  fill-opacity: 0;
  stroke: #191919;
  stroke-width: 3px;
}

#labinfo {
  position:absolute;
  width: 200px;
}

.download {
  cursor: pointer;
}

.link {
  cursor: pointer
}
